HOST=127.0.0.1
PORT=3000
SUDO_BASE_URL=http://localhost:3000
SUDO_HOST=autodidact.fun
SUDO_DEV_PASSWORD=replace-with-a-local-dev-password
SUDO_DEV_RECOVERY_QUESTION=private sentence you can remember
SUDO_DEV_RECOVERY_ANSWER=replace-with-a-local-dev-recovery-answer
